<div class="page" *ngIf="weatherResponse$ | async as weatherResponse">
    <p class="city">Ville : {{weatherResponse.city.name}}</p>

    <div class="days" *ngFor="let day of weatherResponse.forecast"> 
        
        <app-pictos [code]="day.weather"></app-pictos>

        <div class="date">{{day.datetime | date : 'EEE d'}}</div>
        
        <div class="rain">
            <span *ngIf="day.rr10 != 0">
                <img src='assets/pictos/goutte.png' alt='image' height=15px width=15px/>
                Pluie : {{day.rr10}} mm
            </span>
        </div>
        
        
        <div class="tmin">Tmin : {{day.tmin}}</div>

        <div class="tmax">Tmax : {{day.tmax}}</div>
    </div>
</div>
