<div *ngIf="weatherResponse$ | async as weatherResponse">
    <p class="city">Ville : {{weatherResponse.city.name}}</p>

    <div class="days" *ngFor="let day of weatherResponse.forecast"> 
        
        <app-pictos></app-pictos>

        {{day.datetime | date : 'EEE d'}}
        
      
            <span *ngIf="day.rr10 != 0">
                <img src='assets/pictos/goutte.png' alt='image' height=15px width=15px/>
                Pluie : {{day.rr10}} mm
            </span>
        
        
        Tmin : {{day.tmin}}

        Tmax : {{day.tmax}}
    </div>
</div>

<pre>{{weatherResponse$ | async | json}}</pre>